# R
.Rhistory
.RData
.Rproj.user/
*.Rproj

# OS
.DS_Store

# Output (VERY IMPORTANT)
runs/
.Rhistory
.RData
.Rproj.user/
.Renviron
*.log
results/
cache/
logs/

# Temporary
*.tmp
*.log

# IDE
.vscode/
